@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>
    <!-- tart heading -->
    <div class="heading">
        <div class="heading-home">
            <i class='bx bx-home'></i>
            <span>
                / الأسئلة الشائعة
            </span>
        </div>
        <div class="heading-home">
            <span>
                الأسئلة الشائعة
            </span>
        </div>
    </div>

    <div class="faq-heading">
        <h2>الأسئلة الشائعة</h2>
        <p>لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر.</p>
    </div>
    <!--start  accordion  section-->
    <div class="accordion">
        <div class="accordion-content">
            <header>
                <span class="title">ماذا يعني lorem?</span>
                <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
                لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">اين يمكن الاشتراك في النشره الاخبارة الخاصة بكم?</span>
                <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
                غالبًا ما نرسل رسائلنا الإخبارية بأخبار وعروض رائعة. لن نفصح عن بياناتك للثالث الأطراف ويمكنك إلغاء الاشتراك من النشرة الإخبارية في أي وقت. اشترك هنا في نشرتنا الاخبارية.
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">اين يمكن تعديل عنواني?</span>
                <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
                إذا قمت بإنشاء حساب جديد بعد أو أثناء الطلب ، يمكنك تحرير كلا العنوانين (للفواتير و shipping) في حساب العميل الخاص بك.
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">هل يمكنني طلب نسخة مجانية من منتج الاخد نضرة عنها?</span>
                <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
                للأسف ، لا يمكننا تقديم عينات مجانية. بصفتنا بائع تجزئة ، نشتري جميع المجلات من الناشرين بسعر التجارة العادي. ومع ذلك ، يمكنك الاتصال بناشر المجلة مباشرة إلى اسأل عما إذا كان بإمكانهم إرسال نسخة مجانية إليك.
            </p>
        </div>
        <div class="accordion-content">
            <header>
                <span class="title">هل تقبل طالبات عبر الهاتف او البريد الاكتروني ؟</span>
                <i class="fa-solid fa-plus"></i>
            </header>
            <p class="description">
                لوريم إيبسوم(Lorem Ipsum) هو ببساطة نص شكلي (بمعنى أن الغاية هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. كان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر عندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائي أخذتها من نص، لتكوّن كتيّب بمثابة دليل أو مرجع شكلي لهذه الأحرف. خمسة قرون من الزمن لم تقضي على هذا النص، بل انه حتى صار مستخدماً وبشكله الأصلي في الطباعة والتنضيد الإلكتروني. انتشر بشكل كبير في ستينيّات هذا القرن مع إصدار رقائق "ليتراسيت" (Letraset) البلاستيكية تحوي مقاطع من هذا النص، وعاد لينتشر مرة أخرى مؤخراَ مع ظهور برامج النشر الإلكتروني مثل "ألدوس بايج مايكر" (Aldus PageMaker) والتي حوت أيضاً على نسخ من نص لوريم إيبسوم.
            </p>
        </div>
    </div>

</main>