

<form method="post">
<h1></h1>
<h1></h1>



    <h1> your First name: @TempData["data0"]</h1>
    <h1>your Last name: @TempData["data1"]</h1>
    <h1> your email: @TempData["data2"]</h1>
    <h1>your password: @TempData["data3"]</h1>

</form>
